@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  font-family: Poppins, sans-serif;
}

body {
  background-color: #f4f4f4;
}

.header-nav {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 36px 24px;
  background-color: #fff;
  overflow-x: hidden;
}

header a {
  text-decoration: none;
}

.nav-list {
  display: flex;
}

header .nav-brand {
  color: #6070ff;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

section.headerline {
  background-image: url("images/icons/header-shapes.svg");
  background-repeat: no-repeat;
  height: 68vh;

  /* width: 100%; */
  padding: 14vh 24px 16px;
  overflow-x: hidden;
  background-color: #fff;
  border-bottom-left-radius: 64px;
  background-size: contain;
  background-position: right;
  display: flex;
  flex-direction: column;
}

.headerline h1.title,
.about-me h1.title {
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.headerline p,
.about-me p {
  color: #344563;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 0;
  font-weight: 400;
}

.headerline h2.label,
.about-me h2.label {
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  font-weight: 400;
}

.socials {
  display: flex;
  list-style: none;
  padding: 16px 0;
}

.socials li {
  padding-right: 20px;
}

.socials li img :hover {
  opacity: 0.5;
}

/* Works section */
.works {
  display: inline-grid;
  justify-items: center;
  padding: 54px 16px;

  /* width: 100%; */
}

.work-card {
  padding: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 44px 0;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  transition: box-shadow 2s, transform 2s;
}

.work-card:hover {
  transform: scale(0.8);
  box-shadow: 0 0 50px #ccc;
}

div.stats {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.client,
.year,
.myrole {
  color: #344563;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.year,
.myrole {
  color: #7a869a;
  font-weight: 400;
}

div.stats .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c1c7d0;
  margin: 4px 10px;
}

.project-title {
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

.work-card p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.work-card .content {
  padding: 16px 0;
}

.languages {
  display: flex;
  margin: 12px 0;
}

.languages .lang {
  background-color: #ebebff;
  color: #6070ff;
  padding: 4px 16px;
  margin-right: 8px;
  border-radius: 8px;
}

.details-btn {
  background: #fff;
  border: 1px solid #396df2;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 16px;
  color: #396df2;
  font-size: 17px;
  line-height: 24px;
  margin: 12px 0;
  transition: all 0.5s ease-out;
}

.project-btns button {
  border: 1px solid #396df2;
  border-radius: 8px;
  padding: 8px 18px;
  color: #396df2;
  font-size: 15px;
  line-height: 20px;
  background-color: #fff;
  margin-right: 18px;
  align-items: center;
  white-space: nowrap;
}

.toggle-menu img {
  float: right;
}

.project-btns,
.project-btns button {
  display: flex;
}

header img:hover,
.project-details .heading img,
.project-btns button {
  cursor: pointer;
}

.details-btn:hover,
.details-btn:focus,
.project-btns button:hover,
.project-btns button:focus {
  color: #fff;
  background-color: #6070ff;
  opacity: 0.7;
}

.about-me {
  background-color: #fff;
  padding: 114px 24px;

  /* width: 100%; */
  border-top-right-radius: 64px;
}

.more {
  padding: 24px 0;
}

ul,
.more ul {
  list-style: none;
  padding: 0;
}

.more .languages {
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.more .languages .lang-wrapper {
  background-color: #f7f7f9;
  padding: 9px 12px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin: 12px 4px;
  flex-wrap: wrap;
}

.more .languages .lang-wrapper label {
  margin-left: 16px;
}

.more .list-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  margin: 8px 0;
  border-bottom: 1px solid #dfe1e6;
}

.more ul > :first-child > .list-heading {
  border: 0;
}

.list-heading h6 {
  font-size: 20px;
  line-height: 24px;
  color: #000;
  font-weight: 400;
}

/* Contact Form styles */
.contact-section {
  background-color: #fff;
}

.contact-section .contact-container {
  padding: 100px 24px 10px;
  background-color: #6070ff;

  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/images/bg-contact.svg");
  background-repeat: no-repeat;
  background-position: right;
  border-top-left-radius: 100px;
}

.contact-section h2 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  line-height: 54px;
  text-align: center;
}

.contact-section p {
  font-size: 21px;
  color: #ebebff;
  font-weight: 200;
  line-height: 28px;
  margin: 0 18px;
  margin-top: 12px;
  text-align: center;
}

.contact-section form {
  margin-top: 48px;
}

.contact-section form input,
textarea {
  width: 92%;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  border: 0;
  margin-top: 16px;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
}

textarea {
  min-height: 170px;
}

.submit-btn {
  background-color: #fff;
  color: #6070ff;
  padding: 12px 16px;
  border-radius: 8px;
  border: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  margin: 12px 0;
  transition: all 0.5s ease-out;
}

.submit-btn:hover,
.submit-btn:focus {
  color: #fff;
  background-color: #6070ff;
}

.geture-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.geture-wrapper .container {
  height: 3px;
  width: 134px;
  background-color: #000;
  border-radius: 50px;
}

.hidden {
  display: none;
}

.toggle-menu {
  display: block;
  height: 100vh;
  width: 100vw;
  background: rgb(97 113 255 / 90%);
  z-index: 10;
  position: fixed;
  padding: 62px 28px;
}

.remove-padding {
  padding: 0;
}

.project-btns a {
  text-decoration: none;
}

.toggle-nav .nav-list {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}

.toggle-nav .nav-list .nav-item a {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 40px;
}

.close-wrapper {
  padding: 16px 65px;
}

.project-details {
  background-color: rgb(229 229 229 / 90%);
  z-index: 10;
  position: fixed;
  padding: 32px 10px;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.details-card {
  background-color: #fff;
  padding: 8px;
  padding-bottom: 16px;
  border-radius: 8px;
}

.details-card .heading,
.details-card .project-desc {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.details-card .project-image {
  width: 100%;
}

.details-card .project-desc .details-actions {
  min-width: 10%;
  padding: 4px;
}

.details-card .project-desc {
  flex-direction: column;
}

hr {
  border: 1px solid #ebecf0;
  margin: 8px 0;
}

.details-actions hr {
  margin: 24px 0;
}

.project-btns a button span {
  margin-left: 14px;
}

.project-btns a button span img:last-child {
  display: none;
}

.project-btns button:hover span img:last-child {
  display: block;
}

.project-btns button:hover span img:first-child {
  display: none;
}

.languages-extra {
  display: none;
}

.clearfix::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.project-details .details-card {
  height: fit-content;
}

/* Desktop Styles */
@media (min-width: 992px) {
  body {
    overflow-x: hidden;
  }

  header {
    width: unset;
    padding-left: 8%;
    padding-right: 8%;
  }

  header img {
    display: none;
  }

  .header-nav {
    display: unset;
  }

  .nav-item {
    padding: 0 12px;
  }

  .nav-item a {
    color: #344563;
  }

  section.headerline {
    background-image: url("/images/header-bg.svg");
    background-position: center;
    width: unset;
    padding-left: 15%;
    padding-top: 21%;
    height: 80vh;
  }

  section.headerline h2 {
    width: 360px;
  }

  section.headerline p {
    width: 720px;
  }

  .works {
    order: -1;
    width: 100%;
  }

  .work-card {
    flex-direction: row;
    box-shadow: 0 0 50px #ccc;
  }

  .work-card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .work-card .content {
    padding: 18px;
  }

  .work-card:hover {
    border: 2px solid #a7aeff;
    cursor: pointer;
  }

  .about-me {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
  }

  .about-me .desc {
    width: 500px;
    margin-right: 100px;
  }

  .about-me .more {
    width: 500px;
    margin-left: 100px;
  }

  .contact-section .contact-container {
    align-items: center;
    background-image: url("/images/bg-contact-desktop.svg");
    background-position: center;
    background-size: contain;
  }

  .contact-container .contact-heading {
    max-width: 60%;
  }

  .geture-wrapper {
    display: none;
  }

  .more .languages {
    display: flex;
  }

  .more .languages .lang-wrapper {
    flex-direction: column;
    width: 20%;
    margin-right: 12px;
    align-items: flex-start;
  }

  .languages-extra {
    display: flex;
  }

  .details-card {
    padding: 16px;
    height: fit-content;
  }

  .details-card .project-desc {
    flex-direction: row;
  }

  .details-card .project-desc .details-actions {
    min-width: 35%;
    padding: 4px 8px;
  }

  .project-details {
    width: 100%;
    height: 100vh;
    padding: 16px 36px;
  }

  .project-details .project-image {
    height: 450px;
  }
}
