@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 36px 24px;
}
header .nav-brand{
    color: #6070FF;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
}
section.headerline{
    background-image: url('./images/icons/header-shapes.svg');
    height: 90vh;
    width: 100%;
    padding: 42px 24px 16px;
}
.headerline h2 {
    font-size: 40px;
    line-height: 52px;
    color: #172B4D;
    ;
}