@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 24px 36px;
}
header .nav-brand{
    color: #6070FF;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
}