@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  font-family: Poppins, sans-serif;
}

body {
  background-color: #f4f4f4;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 36px 24px;
  background-color: #fff;
  width: 100%;
}

header a {
  text-decoration: none;
}

header .nav-brand {
  color: #6070ff;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

section.headerline {
  background-image: url("images/icons/header-shapes.svg");
  background-repeat: no-repeat;
  height: 68vh;
  width: 100%;
  padding: 14vh 24px 16px;
  overflow-x: hidden;
  background-color: #fff;
  border-bottom-left-radius: 64px;
  background-size: contain;
  background-position: right;
  display: flex;
  flex-direction: column;
}

.headerline h2.title,
.about-me h2.title {
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.headerline p,
.about-me p {
  color: #344563;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 0;
  font-weight: 400;
}

.headerline h2.label,
.about-me h2.label {
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  font-weight: 400;
}

.socials {
  display: flex;
  list-style: none;
  padding: 16px 0;
}

.socials li {
  padding-right: 20px;
}

.socials li img :hover {
  opacity: 0.5;
}

/* Works section */
.works {
  display: inline-grid;
  justify-items: center;
  padding: 54px 16px;
  width: 100%;
}

.work-card {
  padding: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 44px 0;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
}

div.stats {
  margin: 10px 0;
}

.work-card div.stats {
  display: flex;
  align-items: center;
}

.work-card .client,
.work-card .year,
.work-card .myrole {
  color: #344563;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.work-card .year,
.work-card .myrole {
  color: #7a869a;
  font-weight: 400;
}

.work-card div.stats .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #c1c7d0;
  margin: 4px 10px;
}

.project-title {
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

.work-card p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.work-card .content {
  padding: 16px 0;
}

.work-card .languages {
  display: flex;
  margin: 12px 0;
}

.languages .lang {
  background-color: #ebebff;
  color: #6070ff;
  padding: 4px 16px;
  margin-right: 8px;
  border-radius: 8px;
}

.details-btn {
  background: #fff;
  border: 1px solid #396df2;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 16px;
  color: #396df2;
  font-size: 17px;
  line-height: 24px;
  margin: 12px 0;
  transition: 0.3s;
}

.details-btn:hover {
  color: #fff;
  background-color: #6070ff;
}

.about-me {
  background-color: #fff;
  padding: 114px 24px;
  width: 100%;
  border-top-right-radius: 64px;
}

.more {
  padding: 24px 0;
}

ul,
.more ul {
  list-style: none;
  padding: 0;
}

.more .languages {
  list-style: none;
  padding: 0;
}

.more .languages .lang-wrapper {
  background-color: #f7f7f9;
  padding: 9px 12px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  margin: 12px 0;
}

.more .languages .lang-wrapper label {
  margin-left: 16px;
}

.more .list-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  margin: 8px 0;
  border-bottom: 1px solid #dfe1e6;
}

.more ul > :first-child > .list-heading {
  border: 0;
}

.list-heading h6 {
  font-size: 20px;
  line-height: 24px;
  color: #000;
  font-weight: 400;
}

/* Contact Form styles */
section.contact-section {
  background-color: #fff;
}

section.contact-section .contact-container {
  padding: 100px 24px 50px;
  background-color: #6070ff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("/images/bg-contact.svg");
  background-repeat: no-repeat;
  background-position: right;
  border-top-left-radius: 100px;
}

.contact-section h2 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  line-height: 54px;
  text-align: center;
}

.contact-section p {
  font-size: 21px;
  color: #ebebff;
  font-weight: 200;
  line-height: 28px;
  margin: 0 18px;
  margin-top: 12px;
  text-align: center;
}

.contact-section form {
  margin-top: 48px;
}

.contact-section form input,
textarea {
  width: 92%;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  border: 0;
  margin-top: 16px;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
}

textarea {
  min-height: 170px;
}

.contact-section form .submit-btn {
  background-color: #fff;
  color: #6070ff;
  padding: 12px 16px;
  border-radius: 8px;
  border: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  margin: 12px 0;
}

.submit-btn:hover {
  color: #fff;
  background-color: #6070ff;
}